{% include 'header.html' %}

<div class="dashboard-container">

    <div class="dashboard-header">

        <h1>Edit Product</h1>

        <p>Update product information.</p>

    </div>

    <div class="profile-card">

        <form method="POST">

            <div class="input-group">

                <input
                    type="text"
                    name="name"
                    value="{{ product.name }}"
                    required>

            </div>

            <div class="input-group">

                <input
                    type="text"
                    name="category"
                    value="{{ product.category }}"
                    required>

            </div>

            <div class="input-group">

                <textarea
                    name="description"
                    rows="4">{{ product.description }}</textarea>

            </div>

            <div class="input-group">

                <input
                    type="number"
                    step="0.01"
                    name="purchase_price"
                    value="{{ product.purchase_price }}"
                    required>

            </div>

            <div class="input-group">

                <input
                    type="number"
                    step="0.01"
                    name="selling_price"
                    value="{{ product.selling_price }}"
                    required>

            </div>

            <div class="input-group">

                <input
                    type="number"
                    name="quantity"
                    value="{{ product.quantity }}"
                    required>

            </div>

            <br>

            <button
                class="login-btn"
                type="submit">

                Update Product

            </button>

        </form>

    </div>

</div>

{% include 'footer.html' %}