<div class="sidebar">

    <div class="logo">

        <i class="fas fa-store"></i>

        <h2>ShopMaster</h2>

    </div>

    <ul>

        <li>
            <a href="{{ url_for('dashboard.home') }}">
                <i class="fas fa-house"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-box"></i>
                Products
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-users"></i>
                Customers
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-truck"></i>
                Suppliers
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-cart-shopping"></i>
                Sales
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-money-bill-wave"></i>
                Purchases
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-chart-column"></i>
                Reports
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-user"></i>
                Profile
            </a>
        </li>

        <li>
            <a href="{{ url_for('auth.logout') }}">
                <i class="fas fa-right-from-bracket"></i>
                Logout
            </a>
        </li>

    </ul>

</div>